* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: center;
}

.game {
    width: 1000px;
    height: 260px;
    border: 1px solid black;
    background-image: url('/assets/snowflakes.png');
    background-color: lightblue;
    background-size: cover;
    position: relative;
}

#character {
    width: 50px;
    height: auto;
    /* background-color: red; */
    position: relative;
    top: 150px;
    z-index: 5;
}

.animate {
    animation: jump 500ms;
}

@keyframes jump {
    0% {
        top: 150px;
    }

    30% {
        top: 100px;
    }

    70% {
        top: 100px;
    }

    100% {
        top: 150px;
    }
}

#block {
    width: 30px;
    height: 30px;
    /* background-color: blue; */
    position: relative;
    top: 130px;
    left: 480px;
    animation: block 1s infinite linear;
}

@keyframes block {
    0% {
        left: 950px;
    }

    100% {
        left: -100px;
    }
}

/* Add this to your CSS */
#score {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Update your CSS */
#instructionsModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    /* Set a high z-index to ensure it's on top */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    z-index: 10000;
    /* Set a higher z-index than other game elements */
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.center-container {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    /* Full height of the viewport */
}